<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<table>
<tbody>
    <% albums.forEach(function(a) { %>
        <tr>
            <td class='title'>Album:</td>
            <td><%= a.albumTitle %></td>
        </tr>
        <tr>
            <td class='title'>Artist:</td>
            <td><%= a.artist %></td>
        </tr>
        <tr>
            <td class='title'>Release Year:</td>
            <td><%= a.releaseYear %></td>
        </tr>
        <tr>
            <td class='title'>Genre:</td>
            <td><%= a.genre %></td>
        </tr>
        <tr>
            <td class='title'>Rating:</td>
        </tr>
        <td>
            <td><a id='details' href="/albums/<%= a._id %>">DETAILS</a></td>
        </tr>
    <% }) %>
</tbody>
</table>
<%- include('../partials/footer') %>
</html>