<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>Album Info</h5>
    <section>
        <div>Album: <%= album.albumTitle %></div>
        <div>Artist: <%= album.artist %></div>
        <div>Release Year: <%= album.releaseYear %></div>
        <div>Genre: <%= album.genre %></div>
      </section> 
</body>

<br><br>

<h5>Rate This Album</h5>
<form method="POST" action="/albums/<%= album._id %>/ratings">
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <input type="submit" value="Add Rating">
</form>
<%- include('../partials/footer') %>
</html>