<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>Album Information</h5>
    <section id='albuminfo'>
        <div class='title'>Album:</div><div class='data'><%= album.albumTitle %></div>
        <div class='title'>Artist:</div><div class='data'> <%= album.artist %></div>
        <div class='title'>Release Year:</div><div class='data'> <%= album.releaseYear %></div>
        <div class='title'>Genre:</div><div class='data'> <%= album.genre %></div>
      </section> 
</body>

<br><br>

<h5>Rate This Album</h5>
<form method="POST" action="/albums/<%= album._id %>/ratings">
  <label id="rate">Rating:</label>
  <select class="button" name="ratingScore">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <input class="button" type="submit" value="Add Rating">
</form>

<% if (album.ratings.length) { %>
    <table id='rating'>
      <thead>
        <tr>
          <th>User</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% album.ratings.forEach(function(r) { %>
          <% total += r.ratingScore %>
          <tr>
            <td>User</td>
            <td><%= r.ratingScore %></td>
            <td><form id="delete" action="/albums/<%= r.id %>?_method=DELETE"
              class= method="POST">
              <button id='x' type="submit">X</button>
            </form></td>
          </tr>
        <% }); %>
        <tr>
        <td colspan="1"></td>
        <td><strong><%= (total / album.ratings.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Ratings</h5>
  <% } %> 

<%- include('../partials/footer') %>
</html>